<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Miembros</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main>
    <section>
        <h2>Lista de Miembros</h2>
        <a th:href="@{/miembros/formulario}" class="btn btn-new">Nuevo miembro</a>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Apodo</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <!--                <th>Fecha de Nacimiento</th>-->
                <th>Cargo</th>
                <!--                <th>Fecha de Ingreso</th>-->
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <!-- Aquí se llenará dinámicamente con Thymeleaf -->
            <tr th:each="miembro : ${miembros}">
                <td th:text="${miembro.id}">1</td>
                <td th:text="${miembro.nombre}"></td>
                <td th:text="${miembro.apellidos}"></td>
                <td th:text="${miembro.apodo}"></td>
                <td th:text="${miembro.email}"></td>
                <td th:text="${miembro.telefono}"></td>
                <td th:text="${miembro.direccion}"></td>
                                <td th:text="${miembro.fechaNacimiento}"></td>
                <td th:text="${miembro.cargo}"></td>
                                <td th:text="${miembro.fechaIngreso}"></td>
                <td th:text="${miembro.estado}"></td>
                <td>
                    <a th:href="@{/miembros/formulario/{id}(id=${miembro.id})}" class="btn btn-edit">Editar</a>
                    <a th:href="@{/miembros/eliminar/{id}(id=${miembro.id})}" class="btn btn-delete"
                       onclick="return confirm('¿Estás seguro de que quieres eliminar este miembro?');">Eliminar</a>

                    <form action="@{/miembros/eliminar/{id}(id=${miembro.id})}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit">Eliminar</button>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </section>


</main>

<footer>
    <p>&copy; 2025 Asociación Monterde</p>
</footer>
</body>
</html>
