<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo miembro</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <h2>Agregar Miembro</h2>
    <section>
        <!--/*@thymesVar id="miembro" type="com.asociacion.monterde.model.Miembro"*/-->
        <form th:action="@{/miembros/formulario}" th:object="${miembro}" method="post" enctype="multipart/form-data">
            <label for="dni">DNI:</label>
            <input type="text" id="dni" th:field="*{dni}" required>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}" required>

            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" th:field="*{apellidos}">

            <label for="apodo">Apodo:</label>
            <input type="text" id="apodo" th:field="*{apodo}">

            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>

            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" th:field="*{telefono}">

            <label for="direccion">Dirección:</label>
            <textarea id="direccion" th:field="*{direccion}"></textarea>

            <label for="fechaNacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}" required>
<!--TODO: PONER FOTO-->
<!--            <label for="foto">Foto:</label>-->
<!--            <input type="file" id="foto" th:field="*{foto}">-->

            <label for="cargo">Cargo:</label>
            <select id="cargo" th:field="*{cargo}">
                <option value="Miembro">Miembro</option>
                <option value="Presidente">Presidente</option>
                <option value="Tesorero">Tesorero</option>
                <option value="Secretario">Secretario</option>
            </select>

            <label for="fechaIngreso">Fecha de Ingreso:</label>
            <input type="date" id="fechaIngreso" th:field="*{fechaIngreso}" required>

            <label for="estado">Estado:</label>
            <select id="estado" th:field="*{estado}">
                <option value="ACTIVO">Activo</option>
                <option value="INACTIVO">Inactivo</option>
            </select>

            <label for="LOPD">LOPD:</label>
            <input type="checkbox" id="LOPD" th:field="*{LOPD}">

            <button type="submit" class="btn btn-submit">Agregar</button>
        </form>
    </section>
</main>
</body>
</html>
