<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Interna - Asociación Monterde</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>


<header>
    <h1>Bienvenido a la Gestión Interna</h1>
</header>

<main>
    <div class="container">
        <div class="card">
            <i class="fas fa-users"></i>
            <div>
                <h3>Miembros</h3>
                <p>Gestionar usuarios</p>
            </div>
        </div>

        <div class="card">
            <i class="fas fa-calendar-alt"></i>
            <div>
                <h3>Eventos</h3>
                <p>Planificar y gestionar</p>
            </div>
        </div>

        <div class="card">
            <i class="fas fa-cogs"></i>
            <div>
                <h3>Ajustes</h3>
                <p>Configuración de la app</p>
            </div>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2025 Asociación Monterde</p>
</footer>

</body>
</html>
