<!-- resources/templates/miembros.html -->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miembros</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


<div class="content">
    <h2>Listado de Miembros</h2>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="miembro : ${miembros}">
            <td th:text="${miembro.nombre}"></td>
            <td th:text="${miembro.email}"></td>
            <td>
                <a th:href="@{/miembros/{id}(id=${miembro.id})}">Ver</a> |
                <a th:href="@{/miembros/{id}/editar(id=${miembro.id})}">Editar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/miembros/nuevo">Nuevo Miembro</a>
</div>
</body>
</html>
