<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo miembro</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Gestión de Miembros</h1>
    <nav>
        <a href="/index">Inicio</a>
        <a href="/miembros">Miembros</a>
        <a href="/eventos">Eventos</a>
    </nav>
</header>
<section>
    <h2>Agregar Miembro</h2>
    <form th:action="@{/miembros/agregar}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required>
        <label for="rol">Rol:</label>
        <select id="rol" name="rol">
            <option value="Presidente">Presidente</option>
            <option value="Tesorero">Tesorero</option>
            <option value="Secretario">Secretario</option>
            <option value="Miembro">Miembro</option>
        </select>
        <button type="submit" class="btn btn-submit">Agregar</button>
    </form>
</section>
</body>
</html>