<h1>Miembros</h1>

<!-- Muestra un mensaje mientras se cargan los datos -->
<p *ngIf="!(miembros$ | async); else table">Cargando...</p>

<!-- Tabla que se muestra si miembros$ tiene datos -->
<ng-template #table>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>dni</th>
        <th>nombre</th>
        <th>apellidos</th>
        <th>apodo</th>
        <th>email</th>
        <th>telefono</th>
        <th>direccion</th>
        <th>fecha Nacimiento</th>
        <th>foto</th>
        <th>cargo</th>
        <th>fecha Ingreso</th>
        <th>estado</th>
        <th>lopd</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let miembro of miembros$ | async">
        <td>{{ miembro.id }}</td>
        <td>{{ miembro.dni }}</td>
        <td>{{ miembro.apellidos }}</td>
        <td>{{ miembro.apodo }}</td>
        <td>{{ miembro.nombre }}</td>
        <td>{{ miembro.email }}</td>
        <td>{{ miembro.telefono }}</td>
        <td>{{ miembro.direccion }}</td>
        <td>{{ miembro.fechaNacimiento }}</td>
        <td>{{ miembro.foto }}</td>
        <td>{{ miembro.cargo }}</td>
        <td>{{ miembro.fechaIngreso }}</td>
        <td>{{ miembro.estado }}</td>
        <td>
          <input
            type="checkbox"
            [(ngModel)]="miembro.lopd"
            [disabled]="miembro.algunEstado"
          />
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<!-- Mensaje en caso de que no haya miembros -->
<ng-template #noData>
  <p>No hay miembros disponibles.</p>
</ng-template>
